<div class="container">
	<%= form_tag("/", method: "post") do %>
	  <%= label_tag(:min, "Min:") %>
	  <%= number_field_tag 'min', nil, min: 1, id: "minPrice" %>
	  <%= label_tag(:max, "Max:") %>
	  <%= number_field_tag 'max', nil, min: 1, id: "maxPrice"  %>
	  <%= submit_tag("Search") %>
	<% end %>

	<%= link_to "Create new listing", new_listing_path, class: "btn btn-default create-btn" if signed_in? %>
	<% if @listings.present? %>
		<div class="listing">
			<div class="row">
				<% @listings.each_slice(3).each do |lists| %>
					<% lists.each do |list| %>
						
					
					<div class="col-md-3 col-md-offset-1 listing-photo-frame">
						<%= link_to list do  %>
							<%= image_tag list.listing_images[0].url(:medium) if list.listing_images.any? %>
						<% end %> 
						<%= link_to list.title,list %>
						<%= content_tag(:span, "RM #{list.price}") %>
					</div>
							
					<% end %>
				<% end %>
			</div>
	</div>
	<% end %>

</div>