<div class="container top">
	<div class="search">
		<%= form_tag("/listings/search", {:class => "search__form"}) do %>
			<%= text_field_tag :search, nil, :placeholder => "Search", class: "typeahead" %>		
			<%= submit_tag "Search", class: "class" %>
		<% end %>
	</div>
	<%= form_tag("/", method: "post") do %>
	  <%= label_tag(:min, "Min:") %>
	  <%= number_field_tag 'min', nil, min: 1, id: "minPrice" %>
	  <%= label_tag(:max, "Max:") %>
	  <%= number_field_tag 'max', nil, min: 1, id: "maxPrice"  %>
	  <%= submit_tag("Search") %>
	<% end %>

	<%= link_to "Create new listing", new_listing_path, class: "btn btn-default create-btn" if signed_in? %>
	<% if @listings.present? %>
		<div class="listings">
			<div class="listing__row">
				<% @listings.each_slice(3).each do |lists| %>
					<% lists.each do |list| %>
						
					
					<div class="listings__item">
						<%= link_to list do  %>
							<%= image_tag list.listing_images[0].url(:medium) if list.listing_images.any? %>
						<% end %> 
						<%= link_to list.title,list %>
						<%= content_tag(:span, "RM #{list.price}") %>
					</div>
							
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>

</div>