<div class="container">
	<%= form_tag("/", method: "post") do %>
	  <%= label_tag(:min, "Min:") %>
	  <%= number_field_tag 'min', nil, min: 1 %>
	  <%= label_tag(:max, "Max:") %>
	  <%= number_field_tag 'max', nil, min: 1 %>
	  <%= submit_tag("Search") %>
	<% end %>
	<%= link_to "Create new listing", new_listing_path if signed_in? %>
	<% if @listings.present? %>
		<div class="listing">
		<% @listings.each do |list| %>
			<p><%= link_to list.title,list %><%= content_tag(:span, "RM #{list.price}",class: "pull-right") %></p>
		<% end %>
	</div>
	<% end %>
</div>