<div class="container">
	<div class="reservation">
		<table class="table">
			<thead>
				<tr class="success">
					<th>Title</th>
					<th>Start date</th>
					<th>End date</th>
					<th>Guest count</th>
					<th>Status</th>
				</tr>
			</thead>
		
		
		<% if @reservations.any? %>

			<% @reservations.each do |res| %>
				<%= link_to res.listing do %>
					<tbody>
						<tr class="danger">
							<td><%= res.listing.title %></td>
							<td><%= res.begin_date %></td>
							<td><%= res.end_date %></td>
							<td><%= res.guest_count %></td>
							<td><%= res.paid? ? "Paid" : "Not Paid" %></td>
						</tr>
					</tbody>
				<% end %> 
				<% end %>
			<% end %>
		</table>
	</div>
</div>
