<div class="container">
	<div class="reservation">
		<div class="row">
			<div class="col-md-3">Title</div>
			<div class="col-md-3">Start date</div>
			<div class="col-md-3">End date</div>
			<div class="col-md-3">Guest count</div>
		</div>
		<% if @reservations.any? %>
			<div class="row">

			<% @reservations.each do |res| %>
				<%= link_to res.listing do %>
					<div class="col-md-3">
						<%= res.listing.title %>
					</div>
					<div class="col-md-3">
						<%= res.begin_date %>
					</div>
					<div class="col-md-2">
						<%= res.end_date %>
					</div>
					<div class="col-md-2">
						<%= res.guest_count %>
					</div>
					<div class="col-md-2">
						<%= res.paid? ? "Paid" : "Not Paid" %>
					</div>
				<% end %> 
			<% end %>
			</div>
		<% end %>
	</div>
</div>

<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2 class="mbs">New Transaction</h2>
  <%= form_tag transactions_path do%>
    <p>Please enter your payment details:</p>
    <div id="dropin"></div>
    <%=submit_tag "Pay #{current_user}$", class: "button mt1" %>
  <%end%>
</div>