<nav class="my-navbar <%= "my-navbar--reverse" unless current_page?(root_path) %>">
  <div class="container my-navbar__container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="my-navbar__header">
      <a class="my-navbar__brand" href="/">PairBnB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="my-navbar__listing my-navbar--left">
        <li><%= link_to "Listing",listings_path %></li>
        <% if signed_in? %>
          <li><%= link_to "My reservation", reservations_path  %></li>
        <% end %>
      </ul>
      <ul class="my-navbar__listing my-navbar--right">
      <% if signed_out? %>
        
        
          <li class="my-navbar__btn my-navbar--signin"><%= link_to "Sign In", sign_in_path %></li>
          <li class="my-navbar__btn my-navbar--signup"><%= link_to "Sign Up", sign_up_path %></li>
     <% else %>
        
          <li>
            <div class="round">
              <%= link_to current_user, class: "current-user" do %>
                <%= image_tag current_user.profile_image_url(:thumb), title: "Your Profile" %>
              <% end %>   
            </div>

          </li>
          <li class="my-navbar__btn my-navbar--signup"><%= link_to "Sign Out", sign_out_path, method: :delete %></li>  
      <% end %>
      </ul>

<!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>