<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"%>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
  <title>PairBnb | The greastest website ever....</title>

</head>
<body>
  <%= render 'layouts/navbar' %>

  <div class="container">
  <% if flash.present? %>
  <div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <% flash.each do |x, y| %>
  <p> <%= y %></p>
  <% end %>
  </div>
  <% end %>
  </div>



  <%= yield %>
  
</body>
</html>
