<!DOCTYPE html>
<html>
<head>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"%>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans|Source+Sans+Pro:900|Lato" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js" %>
  
  <%= csrf_meta_tag %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <title>PairBnb | The greastest website ever....</title>

</head>
<body>
  <%= render 'layouts/navbar' %>

  <div class="container">
  <% if flash.present? %>
  <div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <% flash.each do |x, y| %>
  <p> <%= y %></p>
  <% end %>
  </div>
  <% end %>
  </div>


  <div class="<%= "top" unless current_page?(root_path) %>"></div> 
  <%= yield %>
  
</body>
</html>
