<!DOCTYPE html>
<html>
<head>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"%>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Baloo+Bhaina|Open+Sans|Source+Sans+Pro:900|Lato" %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://js.braintreegateway.com/v2/braintree.js" %>
  
  <%= csrf_meta_tag %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  <title>PairBnb | The greastest website ever....</title>

</head>
<body>
  <%= render 'layouts/navbar' %>

  <div class="container">
  <% if flash.present? %>
  <div class="alert alert-danger">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <% flash.each do |x, y| %>
  <p> <%= y %></p>
  <% end %>
  </div>
  <% end %>
  </div>


  <div class="<%= "top" unless current_page?(root_path) %>"> 
  <%= yield %>
  </div>
  <footer class="footer-distributed">
      <div class="container">
        <div class="footer-left">

          <h3><strong>Pair<span>Bnb</span></strong></h3>

          <p class="footer-links">
            <a href="#">Recommended Posts</a>
            ·
            <a href="#">Latest News</a>
            ·
            <a href="#">Tags</a>
          </p>

          <p class="footer-company-name">PairBnb &copy; 2016</p>
        </div>

        <div class="footer-center">

          <div>
            <i class="fa fa-phone" style="float: left;"></i>
            <div style="float: left; margin-top: 10px;">
              <p>+603-8088 1111</p><br>
              <p>+6012 3456789</p>
            </div>
          </div>
          <div style="clear: both;"></div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:pairbnb1@gmail.com">pairbnb1@gmail.com</a></p>
          </div>

        </div>

        <div class="footer-right">

          <p class="footer-company-about">
            <span>About Us</span>
            PairBnb <br>Your Trusted Business Advisors Helping You Succeed
          </p>

          <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

          </div>

        </div>
        </div>
      </footer>
</body>
</html>
